<div class="hn login-or-signup">
    <img src="/assets/images/wordmark+vertical+white+teal.svg" class="hn-logo" alt="house ninja"/>
    <Primitive::Button @type="button" @size="lg" @variant="solid" @semantic="accent" {{on "click" this.login}}>Login</Primitive::Button>
    <Primitive::Button @type="button" @size="lg" @variant="floating" @semantic="accent" {{on "click" this.openSignUpViewInSystemBrowser}}>Sign Up</Primitive::Button>
</div>
