<main class="hn view {{@class}}" {{did-insert this.applyPreservedScrollPosition}}>
  {{yield}}
  {{#if @hideLogo}}
  {{else}}  
    <div class="logo-container">
      <img class="logo" src="assets/images/logo+black+teal.svg" alt="House Ninja" />
    </div>
  {{/if}}

</main>