{{#if @linkToMarketingSite}}
  <a href="https://www.houseninja.co/" class="flex justify-center w-5/12 z-40 mx-auto" target="_blank" rel="noopener noreferrer">
    <img
      src="/assets/images/logo.white.no-icon.svg"
      alt="House Ninja"
      class="logo"
    />
  </a>
{{else}}
  <img
    src="/assets/images/logo.white.no-icon.svg"
    alt="House Ninja"
    class="logo z-40 w-5/12 mx-auto"
  />
{{/if}}
