<div class="actions loading">                
    <ContentLoader @width={{600}} @height={{80}} class="mr-2">
        <rect width={{600}} height={{80}} />
    </ContentLoader>        
    <ContentLoader @width={{600}} @height={{80}} class="ml-2">
        <rect width={{600}} height={{80}} />
    </ContentLoader>
</div>
<hr/>
<div class="work-order-details">
    <ul>
        <li>
            <ContentLoader @width={{600}} @height={{80}} >
                <rect width={{600}} height={{80}} />
            </ContentLoader>
        </li>
        <li>
            <ContentLoader @width={{600}} @height={{80}} >
                <rect width={{600}} height={{80}} />
            </ContentLoader>
        </li>
        <li>
            <ContentLoader @width={{600}} @height={{80}} >
                <rect width={{600}} height={{80}} />
            </ContentLoader>
        </li>
        <li>
            <ContentLoader @width={{600}} @height={{80}} >
                <rect width={{600}} height={{80}} />
            </ContentLoader>
        </li>
        <li>
            <ContentLoader @width={{600}} @height={{80}} >
                <rect width={{600}} height={{80}} />
            </ContentLoader>
        </li>        
    </ul>    
</div>