@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: Campton-Light;
  src: url(fonts/Campton-Light.otf);
}

@font-face {
  font-family: Campton-Medium;
  src: url(fonts/Campton-Medium.otf);
}

@font-face {
  font-family: Campton-Book;
  src: url(fonts/Campton-Book.otf);
}

html * {
  font-family: Campton-Book;
}

.background-container {
  /* Linear Gradient/Black/1000 */
  background: linear-gradient(206.57deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 83.33%), #000000;
  /* Gray Shadow - Level 3 */
  box-shadow: -1px 1px 1px rgba(0, 56, 55, 0.1), -4px 3px 6px rgba(26, 26, 26, 0.35);
  border-radius: 12px 12px 0px 0px;
}

/* .top-bar {
  border-bottom: 0.5px solid #CCCCCC;
} */

.onboarding .vertical-logo {
  position: absolute;
  display: block;
  /* width: 326px; */
  width: 50%;
  height: 160px;
  margin-left: auto;
  margin-right: auto;
  top: 300px;
  left: 0px;
  right: 0px;

  /* background: url(images/logo.color.vertical.svg); */
  border-radius: 4px;
}
