/* 
    Typography 
*/
 .hn.view-title {    
    height: 48px;

    font-family: var(--campton-default);
    font-size: 15px;
    
    text-align: center;
    
    margin-bottom: 16px;
 }
 .hn.label {    
    font-family: var(--campton-strong);
    font-size: 17px;        
 }
 .hn.label.center {    
    text-align: center;
 } 

/* 
    Buttons
*/

    /* Default */
    .hn.btn {
        width: 100%;    
        
        border-radius: 1px;
        
        box-shadow: var(--shadow-teal-1);
        
        font-family: var(--campton-default);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
    }


/* Size */
    .hn.btn.sm {
        height: var(--btn-sm);    
    }

    .hn.btn.solid.accent {
        background: var(--grad-teal-500);
        color: var(--white);
    }

/* 
    Input
*/
    /* Default */  
    .hn.hn-input-field {
        display: flex;
        flex-direction: column;        

        margin-bottom: 16px;        
    }

    .hn.hn-input-field .hn-input-container {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 44px;

        margin-bottom: 8px;
        
        border-radius: 2px;        
        border-bottom: 1px solid var(--gray-400);
        
        padding: 0 8px;
        
        font-size: 16px;        
    }

        .hn.hn-input-field .hn-input-container .hn-input-label {                
            display: flex;
            flex-direction: row;        
            align-items: center;
            white-space: nowrap;        
            
            width: 128px;
            height: 44px;
        }

        .hn.hn-input-field .hn-input-container .hn-input {        
            width: 100%;
            height: 44px;
        
            border-radius: 0;
            padding: 16px 12px;

            outline: none;                
        }

    .hn.hn-input-field .hn-input-description {                    
        margin-left: 116px;
        font-size: 14px;        
    }
    
    /* Dark Theme */
    .dark .hn.hn-input-field .hn-input-description {
        color: var(--gray-400);
    }

    .dark .hn.hn-input-field.warn .hn-input-description {
        color: var(--orange-400);
    }

    .dark .hn.hn-input-field .hn-input-label {                
        color: var(--gray-200);
    }

    .dark .hn.hn-input-field .hn-input-container .hn-input {
        background: none;
        color: var(--gray-100);
    }

    .dark .hn.hn-input-field .hn-input-container:focus-within {
        background: rgba(0, 192, 187, 0.1);
        border-bottom: 1px solid var(--teal-500);
    }

    .dark .hn.hn-input-field.warn .hn-input-container {
        background: #FFA31A05 !important;
        border-bottom: 1px solid var(--orange-400) !important;        
    }

    .dark .hn.hn-input-field.warn .hn-input-container input {        
        color: var(--orange-400) !important; 
    }
