:root {
  /*
    Offsets
  */
  --top-bar-offset: 96px;
  --top-bar-offset-browser: 80px;
  --nav-bar-offset: 152px;
  --page-banner--offset: 64px;

  /*
        Typography
    */
  --campton-default: campton-book;
  --campton-strong: campton-medium;
  --campton-emphasis: campton-book-italic;

  /*
        Size
    */

  --btn-sm: 36px;
  --btn-md: 44px;
  --btn-lg: 52px;

  /*
        Colors
    */

  /* White */
  --transparent: rgb(0 0 0 / 0%);

  /* White */
  --white: #fff;

  /* Black */
  --black: #000;

  /* Gray */
  --gray-10: #fcfcfc;
  --gray-25: #f7f7f7;
  --gray-50: #f2f2f2;
  --gray-100: #e6e6e6;
  --gray-200: #ccc;
  --gray-300: #b3b3b3;
  --gray-400: #999;
  --gray-500: #808080;
  --gray-600: #666;
  --gray-700: #4d4d4d;
  --gray-800: #333;
  --gray-850: #262626;
  --gray-900: #1a1a1a;
  --gray-950: #0f0f0f;

  /* Teal */
  --teal-10: #f5ffff;
  --teal-100: #cffcfb;
  --teal-200: #a2f6f4;
  --teal-300: #5ddfdc;
  --teal-400: #27d3cf;
  --teal-500: #00c0bb;
  --teal-600: #008581;
  --teal-700: #00524f;
  --teal-800: #001f1e;

  /* Blue */
  --blue-100: #ccefff;
  --blue-400: #0086e6;
  --blue-500: #134d8b;

  /* Green */

  /* Red */
  --red-10: #fff5f7;
  --red-400: #c3223f;
  --red-500: #9e001d;

  /* Orange */
  --orange-10: #fffbf5;
  --orange-100: #ffe0b3;
  --orange-300: #ffc266;
  --orange-400: #ffa31a;

  /*
      Gradients
  */

  --grad-teal-500:
    linear-gradient(206.57deg, rgb(255 255 255 / 20%) 0%, rgb(0 0 0 / 0%) 83.33%),
    linear-gradient(0deg, #00c0bb, #00c0bb);
  --grad-black-1000: linear-gradient(187.78deg, rgb(230 230 230 / 5%) -3.95%, rgb(0 0 0 / 0%) 93.99%), #0f0f0f;
  --grad-red-400: linear-gradient(64.69deg, rgb(255 255 255 / 0%) -29.19%, rgb(255 255 255 / 60%) 237.37%), #c3223f;

  /*
    Shadows
  */
  --shadow-teal-1: -0.5px 0.5px 0.5px rgb(0 82 79 / 40%), -1px 1px 1px rgb(0 82 79 / 30%);
  --shadow-teal-2: -1px 1px 1px rgb(0 82 79 / 20%), -2px 2px 4px rgb(0 82 79 / 40%);
  --shadow-teal-3: -1px 1px 1px rgb(0 82 79 / 10%), -4px 3px 6px rgb(0 82 79 / 35%);
  --shadow-gray-1: -0.5px 0.5px 0.5px rgb(26 26 26 / 10%), -1px 1px 2.5px rgb(26 26 26 / 30%);
  --shadow-gray-2: 0 0 1px rgb(26 26 26 / 20%), -1px 1.5px 3px rgb(26 26 26 / 40%);
  --shadow-red-1: -0.5px 0.5px 0.5px rgb(56 0 10 / 40%), -1px 1px 1px rgb(56 0 10 / 30%);
  --shadow-blue-1: -0.5px 0.5px 0.5px rgb(19 77 139 / 40%), -1px 1px 1px rgb(19 77 139 / 30%);
}
