<div>
    <Primitive::Section @label="Work Orders">
        <HouseNinja::ServiceActivity @tabs={{this.tabs}} @serviceRecords={{this.serviceRecords}} />
    </Primitive::Section>
    <Primitive::Section @label="My Preventative Maintenance Plan">
        <HouseNinja::PreventativeMaintenanceThumbnail @thumbnailUri="assets/images/stil-wtqe5nd5MYk-unsplash.jpg"/>
    </Primitive::Section>
</div>
