<div class="settings-view dark">
    <h1 class="hn view-title">Account Settings</h1>
    <ul class="settings-menu">
        {{#each this.menuItems as |item|}}
            <li class="menu-item">
                <Primitive::Button {{on "click" (fn this.selectRoute item.name)}} @variant="plain">
                    <span class="menu-item-label">{{item.label}}</span>
                    {{svg-jar "greater-than.svg" alt="right arrow" class="menu-item-icon"}}
                </Primitive::Button>
            </li>
        {{/each}}
    </ul>
    {{#if this.userHasPromoCode}}
        <HouseNinja::ReferralCode />
    {{/if}}
</div>