<div>    
    <Primitive::Button @type="button" @size="md" @variant="outline" @semantic="primary" class="mb-4" {{on "click" (fn this.selectRoute 'vault.group.new')}}>
        Add Group
    </Primitive::Button>
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="primary" class="mb-4" {{on "click" (fn this.selectRoute 'vault.upload')}}>
        Upload
    </Primitive::Button>
</div>