<div class="hn modal {{unless @isVisible 'hide'}}">
    <Primitive::Button @variant="plain" {{on "click" @toggleModal}}>
        <div class="hn overlay" />
    </Primitive::Button>
    <div class="hn modal-container sheet dark {{if @isVisible 'show'}}">        
       {{yield}}         
    </div>
</div>