<div class='words'>
  <h1 class='hn center'>HOUSE NINJA, INC LIMITED WARRANTY</h1>
  <br />
  <p>
    This agreement and the terms it documents governs any and all claims,
    disputes, alleged breaches and potential causes of action between Homeowner,
    also referred to herein as “You” (both intended to identify the person
    having possession and dominion over the real property identified herein),
    and House Ninja, Inc. (“HN”) for any and all matters which may arise between
    Homeowner and HN (also collectively referred to as the “Parties”). The
    business model and business purpose of HN is to provide timely home
    maintenance, repair and improvement services at a reasonable cost-effective
    basis at the building or structure specified by the walkthrough report
    (“House”). As such HN is not an insurer, a design or engineering
    professional or a guarantor of the overall functionality or safety of the
    House. The Parties understand and agree that buildings, structures and all
    component parts are always susceptible to unforeseen and unforeseeable
    conditions that absent destructive testing or time-consuming detailed
    analysis cannot and will not always be ascertained. In order to balance the
    risks of providing and accepting the services provided by HN, Homeowner
    agrees that the Limited Warranty set forth below is conscionable, fair and a
    proper adjustment of the Parties relative risks and benefits. As such, all
    special, incidental and consequential damages are excluded under paragraph
    9(a), and implied warranties are limited under paragraph 9(b).
  </p>
  <br />
  <p>
    <span class='underline'><strong>Please read this Limited Warranty (the
        “Limited Warranty”) carefully.</strong></span>
    To confirm your understanding and acceptance of the agreement, click “I
    Accept”. In accepting this limited warranty, You represent that You have the
    authority to bind any and all other members of your household and agree to
    indemnify and hold harmless House Ninja, Inc. from any claims from all other
    household members.
  </p>
  <br />
  <ol>
    <li class='hn label'>
      <span>PERSONS AND PROPERTY PROTECTED</span>
      <p>
        This Limited Warranty of House Ninja, Inc. (“HN”) is extended only to
        the original Homeowner identified above but is nontransferable or
        assignable without the express written consent of HN. The Limited
        Warranty applies only to the House specified above and no other real or
        personal property.
      </p>
    </li>

    <li class='hn label'>
      LIMITED WARRANTY DATE
      <p>The “Limited Warranty Date” accrues on the first day following the
        completion of any services by HN or its agents, assignees or
        subcontractors. Any subsequent adjustment or repair shall not serve to
        extend of otherwise toll the accrual of the Limited Warranty date.</p>
    </li>

    <li class='hn label'>
      LIMITED WARRANTY ON THE BASIC HOME REVIEW
      <p>During the course of membership, HN may conduct a basic review of the
        home (“Basic Home Review”), which is limited to visual observation of
        accessible elements and areas of accessible areas of the property.
        Unless otherwise excluded by Paragraph 7 herein, HN provides a Limited
        Warranty that, subject to the preamble of this Limited Warranty, its
        reports and reviews of the House shall be warranted to be reasonably
        accurate and verifiable for a period of no longer than thirty (30) days.
        Any claim, issue or other matter related to The Basic Home Review shall
        be handled as described in Paragraphs 7-11 below provided that the any
        notice is received by HN within thirty days (30) days of the Limited
        Warranty Date. Any matters not made in a timely manner will be deemed
        expressly waived.</p>
    </li>

    <li class='hn label'>
      LIMITED WARRANTY MAINTENANCE AND REPAIRS
      <p>Unless otherwise excluded by Paragraph 6 herein, HN provides a Limited
        Warranty that, subject to the preamble of this Limited Warranty, HN
        extends a labor and material limited warranty on any maintenance work
        and/or repairs for a minimum period of sixty (60) days for labor and one
        hundred and eighty (180) days for materials. Any claim or dispute with
        respect to the Limited Warranty defined within this Paragraph shall be
        reported to HN not later than ten (10) days prior to the expiration of
        the applicable Limited Warranty period and in the manner described in
        Paragraph 10 herein. Any matters not made in a timely manner will be
        deemed expressly waived. In some instances limited warranties might be
        extended by either HN’s agents, assignees or subcontractors or the
        manufacturer of any specific material, equipment, component, good or
        mechanical piece (see Paragraph 5 herein). Any claim or matter regarding
        any limited warranty outside of that provided by HN shall be handled
        directly between the Homeowner and the non-HN warranting party. Under no
        circumstances shall HN have any liability or responsibility for the
        enforcement or management of any non-HN limited warranty and Homeowner
        expressly disavows and waives any such claims with respect to HN.</p>
    </li>
    <li class='hn label'>
      MANUFACTURERS’ WARRANTIES
      <p>Some appliances, material, equipment, component, good or mechanical
        piece provided by HN or its agents, assignees or subcontractors and
        included in any repair or improvement may be covered by separate written
        warranties of the manufacturers or suppliers of those items. To the best
        of its abilities, HN and its agents, assignees or subcontractors assign
        these manufacturers’ warranties to the Homeowner as of the Limited
        Warranty Date. All of the separate manufacturers’ warranties represent
        the obligations of the manufacturers or suppliers of those components,
        and they are not warranties of HN or its agents, assignees or
        subcontractors. If and when any item covered by such a manufacturer’s
        warranty is defective, the Homeowner must contact the manufacturer or
        supplier directly to seek the performance of the applicable
        manufacturer’s warranty. Any claim or matter regarding any limited
        warranty outside of that provided by HN shall be handled directly
        between the Homeowner and the non-HN warranting party. Under no
        circumstances shall HN have any liability or responsibility for the
        enforcement or management of any non-HN limited warranty and Homeowner
        expressly disavows and waives any such claims with respect to HN.</p>
    </li>
    <li class='hn label'>
      EXCLUSIONS FROM LIMITED WARRANTY COVERAGE
      <ol>
        <li>
          Appliances, such as range tops, stoves, ovens, refrigerators,
          dishwashers, washers and dryers, microwaves, and other similar items.
          Please refer to any Manufacturer Warranties for these items.
        </li>
        <li>
          Damage to real property, building or structures that are not part of
          the livable House or identified as the House which is otherwise
          covered by this Limited Warranty.
        </li>
        <li>
          Any personal injury, bodily injury or damage to personal property.
        </li>
        <li>
          Any defect in material supplied or work performed by anyone other than
          the HN or its agents, assignees or subcontractors.
        </li>
        <li>
          Any damage that, in the sole discretion of HN, the Homeowner has not
          taken timely action to minimize or for which the Homeowner has failed
          to provide timely notice to HN.
        </li>
        <li>
          Normal wear and tear or normal deterioration.
        </li>
        <li>
          Insect damage, except where HN or its agents, assignees or
          subcontractors has failed to use proper materials or construction
          methods as required by local building codes.
        </li>
        <li>
          Any loss or damage that arises while the House subject to the Limited
          Warranty is being used for nonresidential purposes.
        </li>
        <li>
          Any damage to the extent it is caused or made worse by negligence,
          improper maintenance or improper operations by anyone other than the
          HN or its agents, assignees or subcontractors.
        </li>
        <li>
          Any damage to the extent it is caused or made worse by changes in
          grading site work, landscaping or any other exterior ground work or
          construction by anyone other than the HN or its agents, assignees or
          subcontractors
        </li>
        <li>
          Any damage, that in the sole discretion of HN was caused or made worse
          by the failure of the Homeowner to maintain adequate heat, air
          conditioning or other utility service in the House subject to the
          limited warranty.
        </li>
        <li>
          Any damage caused or made worse by any heavy item including but not
          limited to a safe, oversized appliance, gym equipment, waterbed,
          aquarium or other pet enclosure or pool table or other gaming
          equipment. If Homeowner desires to use such an item, Homeowner should
          consult a structural engineer for advice on whether the floors and
          structure can withstand the weight of the particular item desired to
          be used.
        </li>
        <li>
          Any loss or damage caused by acts of God, pandemics, wild fires,
          windstorms, hurricanes, tornadoes, flooding or any other weather
          event, natural occurrences or deliberate or negligent act of a person
          or persons.
        </li>
        <li>
          Any loss or damage caused by naturally occurring gases such as radon
          and methane.
        </li>
        <li>
          Any claim for which Homeowner files a claim under any insurance policy
          (including homeowners) and Homeowner fails to provide HN the
          opportunity to inspect and make a determination of coverage under this
          Limited Warranty.
        </li>
        <li>
          The window and door screens, frames and fastening systems have been
          designed by the window, door and screen manufacturers only to keep
          most insects out of your House. The manufacturers have not designed
          the system to support any weight other than that of the screen itself,
          therefore, the screen system will not prevent children or pets from
          falling through open windows to the ground below. Parents should be
          careful to prevent children and pets from leaning against the screens.
          HN does not and cannot provide any Limited Warranty with respect to
          the relative safety of window screens. Likewise in evaluating the
          House, HN is not capable of assessing or identifying, describing or
          documenting other fall hazards or inherent dangers which may be
          present at a House. HN does not and cannot provide any Limited
          Warranty with respect to the relative safety of window screens, fall
          hazards or other inherent dangers.
        </li>
      </ol>
    </li>
    <li class='hn label'>
      REMEDIAL ACTIONS TO BE TAKEN BY HN
      <p>If and when a defect for which the HN is responsible under Sections 3
        or 4 of this Limited Warranty occurs, Homeowner must give prompt and
        written notice to the HN in the manner specified in Section 10 and
        within the timeframes previously specified herein. In that event, the HN
        will repair, replace, or pay the reasonable cost of repairing or
        replacing the defective labor or component. HN will have the right to
        decide in its own discretion which of those remedies it will provide. If
        HN voluntarily offers or furnishes any remedy not legally required of it
        in any one instance, that action will not create an obligation to do so
        in any other instance; nor will any remedial action taken by HN at any
        time extend the time periods or alter the scope or conditions of the
        Limited Warranty relating to the House. Subject to Paragraph 11 herein,
        the remedy proscribed herein shall be Homeowner’s sole remedy and
        Homeowner hereby expressly waives any other claims, demands, causes or
        action or rights of action irrespective of whether those are created by
        common-law or statutory law.</p>
    </li>
    <li class='hn label'>
      SUBROGATION
      <p>If HN repairs, replaces or pays the cost of repairing or replacing
        under this Limited Warranty any defect or component for which the
        Homeowner is covered by a manufacturer’s warranty or by insurance, HN
        will be subrogated, automatically, to the rights of the Homeowner under
        that manufacturer’s warranty or insurance coverage, to the extent of the
        costs paid or incurred by HN.
      </p>
    </li>
    <li class='hn label'>
      ADDITIONAL LIMITATIONS
      <ol>
        <li>Under no circumstances will HN be liable for special, incidental or
          consequential damages (including, but not limited to, bodily injury,
          death, loss of the use of the House, damage to property of any kind
          not furnished by HN, or attorney’s / expert’s / consultant’s fees and
          costs), regardless of the form of action or legal theory under which
          any claim is asserted against HN for breach of warranty, breach of
          contract, negligence or strict liability.</li>
        <li>There is no express warranty of any kind, or implied warranty
          obligation (including, but not limited to, any implied warranty of
          merchantability, habitability, or fitness for a particular purpose)
          given or undertaken by HN in connection with any services provided at
          the House and relating to the quality or condition of any part of the
          House, except for this Limited Warranty. No officer, employee or agent
          of HN is authorized to grant any other express warranty or
          representation or undertake any implied warranty obligation beyond the
          provisions of this Limited Warranty at any time.</li>
        <li>The repair, replacement or payment remedy selected by HN will be the
          exclusive remedy for which the HN will be liable with respect to any
          alleged claim, defect or other matter raised by Homeowner. In no event
          will HN be liable for repair costs or other Limited Warranty
          obligations amounting in the aggregate to more than the sum of money
          paid by Homeowner for the specific service, repair or improvement.</li>
      </ol>
    </li>
    <li class='hn label'>
      SUBMITTING A LIMITED WARRANTY CLAIM/SERVICE TICKET
      <p>
        During the Limited Warranty periods of the House, if a concern arises
        that you as the Homeowner believe should fall under the coverage
        detailed by this Limited Warranty, please submit a written notice
        (“Written Notice”) which should include your full name, address,
        community name, daytime telephone number and be sure to describe clearly
        the nature of your claim and your expected outcome. The Written Notice
        must also include 1) the Limited Warranty Date, and 2) the service,
        repair or improvement. Deficient Notices that fail to provide the
        necessary information will be deemed void ab initio. For the purposes of
        determining timeliness in the submission of a complete Written Notice,
        such Written Notice shall be deemed submitted, received or made once it
        has been received by HN by any of the following means:
        <br /><br />
        By email to:
        <a href='mailto:hello@houseninja.co'>hello@houseninja.co</a>
        <br /><br />
        In writing to:
        <br /><br />
        House Ninja, Inc.<br />
        6001 W Parmer Ln, Ste 370 #1412<br />
        Austin, TX 78727
        <br /><br />
        Once you have submitted a Written Notice to HN, you should expect a
        response within 1-3 business days. You must make yourself and your House
        available to HN for investigation and or inspection at the time
        specified by HN time which shall be during normal business hours (Monday
        through Friday). At the sole discretion of HN, any failure to
        accommodate investigation and inspection shall result in the
        disallowance of the matter described in the Written Notice and the
        rejection of the Limited Warranty claim. Any such matters that have been
        summarily rejected as defined herein shall not be subject to any appeal
        or arbitration as set forth in Paragraph 11 herein.
      </p>
    </li>
    <li class='hn label'>
      PROCEDURE FOR REQUESTING ARBITRATION
      <p>
        If after thirty (90) days of submitting your Written Notice, you believe
        you have not obtained satisfactory performance under this Limited
        Warranty, your sole remaining remedy is to file for binding arbitration
        in accordance with the Construction Industry Arbitration Rules of the
        American Arbitration Association (the “AAA”). Arbitration shall be
        commenced by Homeowner by filing an AAA Demand for Arbitration form with
        the AAA and HN. The location of any such arbitration, at the election of
        HN shall be either the locale of the House or Travis County, Texas. The
        Homeowner shall be responsible for payment of the filing
        (administrative) fees of the American Arbitration Association. Following
        any such filing, Homeowner agrees to make the House and any alleged
        defects available for inspection by HN and its representatives during
        normal business hours upon reasonable notice. Homeowner must file the
        Demand for Arbitration within ninety (90) days after the submission of
        the original Written Notice, unless an extension of time is agreed to,
        in writing, by HN. Otherwise, your right to demand arbitration with
        respect to any matter raised in your initial Written Notice expires on
        the 91st day (measured by calendar days and including weekends and legal
        holidays) following the submission of your initial Written Notice.
      </p>
      <br />
      <p>
        During any Arbitration, the Parties herein agree that the only issue to
        be considered by the arbitrator is whether HN is responsible for
        correction of an alleged item otherwise covered by this Limited
        Warranty. The arbitrator shall not have jurisdiction to determine, or
        consider, any claim involving consequential damages, personal injury or
        death, rescission of contract or any remedy other than repair or
        replacement or payment of the reasonable cost of repair or replacement
        as provided by Paragraph 9(c) herein. The arbitrator shall give HN the
        option of satisfying an arbitration award either by performance of the
        required repair(s) or payment of a sum certain representing the cost of
        having such repair(s) performed by a third party.
      </p>
      <br />
      <p>
        The non-prevailing party in any arbitration shall pay all costs of the
        arbitration and all attorneys’ fees incurred by the opposing party.
      </p>
    </li>
    <li class='hn label'>
      EFFECT OF OTHER LAWS ON LIMITED WARRANTY PROVISIONS
      <p>Notwithstanding any other provision of local, state or federal law,
        this Limited Warranty, the Homeowner’s rights and HN’s obligations
        herein shall be deemed an express waiver of any common-law or statutory
        law rights or remedies that are in conflict with this Limited Warranty.
      </p>
    </li>
  </ol>
</div>