<div class="empty">
    <p>You have no upcoming service scheduled.</p>    
    <Primitive::Button @type="button" @size="sm" @variant="outline" @semantic="primary">
        Request Service
    </Primitive::Button>
</div>
