<div class="hn service-activity">
    <Primitive::TabbedContent @tabbedContentTabs={{@tabs}}>
        {{#if (fn this.userHasServiceRecords @workOrders)}}
            <HouseNinja::ServiceActivity::ServiceActivityList @records={{@workOrders}} />
        {{else}}
            <HouseNinja::ServiceActivity::NoUpcomingService />
        {{/if}}
    </Primitive::TabbedContent>
</div>