<div class="hn service-activity">
    <Primitive::TabbedContent @tabbedContentTabs={{@tabs}}>
        <HouseNinja::ServiceActivity::ServiceActivityList @records={{@workOrders}} />        
    </Primitive::TabbedContent>
</div>