<div class="hn service-activity">
    <Primitive::TabbedContent @tabbedContentTabs={{@tabs}}>        
        {{#if (fn this.userHasServiceRecords @serviceRecords)}}        
            <HouseNinja::ServiceActivity::ServiceActivityList @records={{@serviceRecords}} />
        {{else}}                    
            <HouseNinja::ServiceActivity::NoUpcomingService />
        {{/if}}
    </Primitive::TabbedContent>
</div>