<div class="content mb-16 confirmed-booking">
    <div class="hero mb-4">
        {{!-- <img src="/assets/images/pin-adventure-map-SJvNVEcU5Rc-unsplash.jpg" class="view-hero" alt="generic map"/> --}}
        <div class="address">
            <p class="street">123 Austin Way</p>
            <p class="city-state-zip">Austin, TX 73301</p>
        </div>
        <p class="appt">Monday, May 4, 2022 at 10:00am</p>
    </div>
    <div class="prompt">
        <p class="mb-4">Your House Ninja will reach out to you prior to your scheduled walkthrough to confirm your appointment and give you an overview of what to expect during your walkthrough.</p>
        <p class="hn strong">Download the House Ninja app where you can easily and conveniently:</p>            
        <ul>
            <li>Request any service your home needs</li>
            <li>Chat with your House Ninja team</li>
            <li>Track all of your current, future, and completed projects for your home</li>
        </ul>
    </div>
    <div class="action">
        <button type="button">
            <img src="/assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917 1.svg" class="" alt="apple store download"/>
        </button>
    </div>
</div>