<div>
    <Primitive::Button @type="button" @size="md" @variant="solid" @semantic="primary" class="mb-4" {{on "click" this.openBrowser}}>
        View Walkthrough Report
    </Primitive::Button>
    <Primitive::Section @label="Service History" @allowCollapse={{true}}>
        <HouseNinja::ServiceActivityRecords @workOrders={{this.pastWorkOrders}} />
    </Primitive::Section>
</div>
