<div class="hn work-history">    
    <HouseNinja::ViewWalkthroughButton />
    <Primitive::Section @label="Service History" @allowCollapse={{true}}>
        <HouseNinja::ServiceActivityRecords @workOrders={{this.pastWorkOrders}} />
    </Primitive::Section>
</div>
