<div>
    <Primitive::Button @type="button" @size="sm" @variant="solid" @semantic="primary" class="mb-4">
        View Walkthrough Report
    </Primitive::Button>
    <Primitive::Section @label="Service History">
        <HouseNinja::ServiceActivity @serviceRecords={{this.serviceRecords}} />
    </Primitive::Section>    
</div>
