<div class="hn work-order">
    {{#if this.isLoading}}
        <View::WorkOrder::Content::Loading />
    {{else}}
        <this.whichComponent
          @model={{@model}}
          @handleReportAnIssue={{fn this.displayMessageComposer this.issueMessage}}
          @selectRoute={{fn this.selectRoute this.paymentRoute}}
        />
    {{/if}}
</div>
