<div class="hn light work-order">
    {{#if this.isLoading}}
        <View::WorkOrder::Content::Loading />
    {{else}}
        {{component (concat "view/work-order/content" "/" this.contentType)
          model=@model          
          handleReportAnIssue=(fn this.displayMessageComposer this.issueMessage)
          selectRoute=(fn this.selectRoute this.paymentRoute)
        }}
    {{/if}}
</div>
