.hn.cancellation-survey * {
  color: var(--gray-950);
}

.hn.cancel-subscription div {
  background-color: var(--gray-100);
  padding: 16px;
  border-radius: 2px;
}

.hn.cancel-subscription div ul {
  list-style: disc;
  list-style-position: inside;
}

.hn.cancel-subscription button.hn {
  margin: 16px 0;
}

.hn.cancel-subscription p.hndp,
.hn.cancel-subscription p.hndp * {
  font-size: 12px !important;
  color: var(--gray-500) !important;
}

.hn.cancel-subscription p.hndp button {
  text-decoration: underline;
}

.hn.cancel-subscription-confirmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hn.cancellation-survey {
  background-color: var(--gray-25);
  border-radius: 2px;
  padding: 16px;
}
