.home-content {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  color: var(--gray-900);
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
}

.home-content .greeting .salutation {
  font-family: var(--campton-strong);
  font-size: 22px;
  text-align: center;
}

.home-content .greeting .prompt {
  font-family: var(--campton-default);
  font-size: 17px;
  text-align: center;
}

.home-content .hn.line {
  margin: 16px 0;
  border: 0.5px solid var(--gray-200);
}

ul.common-request-list {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 8px 0;
}

.common-request-list li.common-request {
  flex: 0 1 calc(50%);
  margin-bottom: 16px;
  padding: 0 8px;
}

.common-request-list li.common-request .content-container {
  position: relative;
  border-radius: 2px;
  box-shadow: var(--shadow-gray-1);
  overflow: hidden;
}

.common-request-list .common-request .content-container img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  aspect-ratio: 150 / 80;
}

.common-request-list .common-request .content-container .caption-position {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.common-request-list .common-request .content-container .caption-position .caption {
  background-color: rgb(255 255 255 / 64%);
  width: 100%;
  height: max-content;
  backdrop-filter: blur(8px);
  padding: 0 2px;
  font-size: 14px;
  text-align: center;
  color: var(--gray-950);
}

.section .body.home-care-tip-section {
  min-height: 300px;
  background-image: url("images/marcus-urbenz-Gu62ldgRZJo-unsplash.jpg");
  background-size: cover;
  background-position: -6em;
  padding: 16px;
}

.home-care-tip {
  background-color: rgb(255 255 255 / 24%);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 2px;
}

.home-care-tip .heading {
  font-family: var(--campton-strong);
  font-size: 20px;
  text-align: center;
  margin: 16px 0;
}

.home-care-tip .description {
  font-size: 17px;
  margin: 16px 0;
}
