.login-or-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  padding: 16px;
  color: var(--white);
}

.login-or-signup .hn-logo {
  width: 200px;
}

.login-or-signup .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-height: 0;
  overflow: hidden;
}

.login-or-signup .actions.show {
  max-height: 400px;
  transition: max-height 1.5s ease-out;
}

button.hn.onboarding-button {
  width: 100%;
  height: var(--btn-lg);
  background: none;
  border: 1px solid var(--white);
  border-radius: 2px;
  padding: 8px 16px;
  color: var(--white);
}

.login-or-signup .sign-up-container {
  position: absolute;
  bottom: 24px;
  opacity: 0;
}

.login-or-signup .sign-up-container.show {
  opacity: 1;
  transition: opacity 0.25s east-out;
}
