.sign-up-module {
  height: 100%;
}

.sign-up-module .view {
  background-color: var(--white);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-module .view .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
}

.sign-up-module .view .wrapper .constraint {
  display: flex;
  max-width: 740px;
  width: 100%;
  height: 100%;
  background: none;
}

.sign-up-module .view .wrapper .constraint .position {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.sign-up-module .action .hn.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 49%;
}

.sign-up-module .action.single .hn.btn {
  max-width: 100%;
}

.sign-up-module .view .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
  padding: 32px 16px 88px;
  background-color: var(--white);
}

.sign-up-module .view .content ul {
  list-style-type: disc;
  list-style-position: inside;
}

.sign-up-module .view .content ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.sign-up-module .view .content .hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.sign-up-module .view .content .hero img {
  align-self: center;
}

.sign-up-module .view .content .hero img.view-logo {
  width: 40%;
  margin-bottom: 16px;
}

.sign-up-module .view .content .hero .welcome-hero {
  position: relative;
}

.sign-up-module .view .content .hero .welcome-hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  top: 40%;
  color: var(--teal-500);
  font-family: var(--campton-strong);
  font-size: 42px;
}

.sign-up-module .view .content .hero img.view-hero {
  margin-bottom: 16px;
}

.sign-up-module .view .content .hero p {
  font-size: 20px;
  text-align: center;
}

.sign-up-module .view .content .hero .welcome-hero p {
  text-align: left;
}

.sign-up-module .view .content .hero .password-reqs p {
  font-size: 17px;
  text-align: left;
}

.sign-up-module .view .content .prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.sign-up-module .view .content .prompt .primary {
  font-family: var(--campton-strong);
  font-size: 20px;
  text-align: center;
}

.sign-up-module .view .content .prompt .inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-module .view .content .prompt .hn.hn-input-field {
  max-width: 500px;
}

.sign-up-module .view .content .prompt .terms {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--gray-25);
  padding: 16px;
  align-items: center;
}

.hn.plan-options .option .column .hn.btn {
  max-width: 100%;
}

.sign-up-module .view .content .prompt .terms .hn.btn {
  margin-bottom: 8px;
}

.sign-up-module .view .content .prompt .terms .agreement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-module .view .content .prompt .terms .agreement input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.sign-up-module .view .content .action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-module .view .content .action.single {
  justify-content: center;
}

.hn.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 16px;
  background-color: var(--white);
  padding: 16px 24px;
}

.hn.breadcrumbs .trail,
.hn.breadcrumbs .trail li.track-item {
  display: flex;
  width: 100%;
  max-width: 1000px;
}

.hn.breadcrumbs .trail {
  align-items: center;
  justify-content: space-evenly;
}

.hn.breadcrumbs .trail li.track-item {
  margin: 0 12px;
}

.hn.breadcrumbs .trail li.track-item .hn.breadcrumbs .trail .crumb {
  display: flex;
  justify-content: space-evenly;
}

.hn.breadcrumbs .trail .crumb .label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hn.breadcrumbs .trail .crumb .label.previous {
  color: var(--teal-500);
  opacity: 0.4;
}

.hn.breadcrumbs .trail .crumb .label.current {
  color: var(--teal-500);
}

.hn.breadcrumbs .trail .crumb .label.next {
  color: var(--gray-400);
}

.hn.breadcrumbs .trail .track {
  min-width: 2px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
}

.hn.breadcrumbs .trail .track.previous {
  background-color: var(--teal-500);
  opacity: 0.4;
}

.hn.breadcrumbs .trail .track.next {
  background-color: var(--gray-200);
}

.hn.plan-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hn.plan-options .option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-50);
  border-radius: 2px;
  border: 1px solid var(--gray-100);
  margin-bottom: 16px;
}

.hn.plan-options .option:nth-of-type(1) {
  background-color: var(--orange-10);
  border: 1px solid var(--orange-100);
}

.hn.plan-options .option .column {
  margin: 12px 24px;
}

.hn.plan-options .option .column.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.hn.plan-options .option:nth-of-type(1) .label {
  color: var(--orange-300);
}

.hn.plan-options .option .column.left .label {
  font-size: 22px;
}

@media (orientation: landscape) {
  .sign-up-module .view .content {
    /* height: 80%; */
    min-width: 600px;
  }

  .sign-up-module .view .content.landscape {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  @media (min-height: 768px) {
    .hn.breadcrumbs {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }

    .sign-up-module .view .content {
      height: unset;
      justify-content: center;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .sign-up-module .view .wrapper .constraint .position {
      height: calc(100%);
      justify-content: center;
    }

    .sign-up-module .view .content.landscape {
      align-items: center;
    }
  }

  .hn.breadcrumbs .trail .crumb .label {
    white-space: nowrap;
  }

  .sign-up-module .view .content.landscape .hero {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .sign-up-module .view .content.landscape .action {
    margin-left: 16px;
  }
}

.sign-up-module .view .content.confirmed-booking .hero {
  align-items: flex-start;
}

.sign-up-module .view .content.confirmed-booking .hero .appt {
  color: var(--red-400);
}
