{{page-title "Service Request"}}
<TopBar @content="logo-only" />
<View @class="hn work-order public" @topBar={{true}}>
    <div class="position">
        <div class="constraint">
            <View::WorkOrder::Content::ApproveEstimate @model={{this.model}}/>      
        </div>
    </div>
</View>
