{{page-title "Work Order"}}
<TopBar @content="logo-only" />
<View @class="hn work-order public">
    <div class="position">
        <div class="constraint">
            <View::WorkOrder::Content::ApprovePayment @model={{this.model}}/>      
        </div>
    </div>
</View>
