{{page-title "Onboarding - Walkthrough Booking"}}
<div class="position">  
  <View::SignUp::Prompt::WalkthroughBooking
    @calendarUrl={{this.model.serviceArea.calendarUrl}}
    @property={{this.model.property}}
    @user={{this.model.user}}
  />
</div>