<div class="section">
        <div class="label">
            <p class="hn section-label">{{@label}}</p>
            <p class="hn section-sub-label">{{@subLabel}}</p>
        </div>
        <div class="body">
            {{yield}}
        </div>
    </div>