<div class="home-content">
    <div class="greeting">
        <p class="salutation">{{this.getSalutation}}</p>
        <p class="prompt">{{this.getPrompt}}</p>
    </div>
    <hr class="hn line" />
    <Primitive::Section @label="Common Requests" @subLabel="Here’s What Your Neighbors Are Doing">
        <Home::CommonRequests />
    </Primitive::Section>
</div>