<div class="home-content">
    <div class="greeting">
        <p class="salutation">{{this.getSalutation}}</p>
        <p class="prompt">{{this.getPrompt}}</p>
    </div>
    <hr class="hn line" />
</div>