<div class="hn walkthrough-button mb-4">
    <Primitive::Button {{on "click" this.openBrowser}} @variant="plain">
        <div class="overlay">                
            <span class="sig">View Walkthrough Report</span>
        </div>
        <img src={{"/assets/images/minh-pham-OtXADkUh3-I-unsplash.jpg"}} alt="walkthrough-report" />
    </Primitive::Button>
</div>