{{page-title "Sign Up - Booking Confirmation"}}
<div class="position">
    <View::SignUp::Breadcrumbs
        @breadcrumbs={{this.breadcrumbs}}
        @activeIndex={{2}}
    />
    <View::SignUp::Prompt::BookingConfirmation />
</div>
