{{page-title "Sign Up - Contact Info"}}
<div class="position">
    <View::SignUp::Breadcrumbs
        @breadcrumbs={{this.breadcrumbs}}
        @activeIndex={{1}}
    />
    <View::SignUp::Prompt::ContactInfo />
</div>
