{{page-title "Sign Up"}}
<div class="position">
    <View::SignUp::Breadcrumbs
        @breadcrumbs={{this.breadcrumbs}}
        @activeIndex={{0}}
    />
    <View::SignUp::Prompt::ServiceArea
        @zipcode={{this.model}}
    />
</div>
