{{page-title "Sign Up - Payment Method"}}
<div class="position">
    <View::SignUp::Breadcrumbs
        @breadcrumbs={{this.breadcrumbs}}
        @activeIndex={{1}}
    />
    <View::SignUp::Prompt::PaymentMethod
        @paymentMethod={{this.model}}
    />
</div>
