{{page-title "Sign Up - Plan Selection"}}
<div class="position">
    <View::SignUp::Breadcrumbs
        @breadcrumbs={{this.breadcrumbs}}
        @activeIndex={{1}}
    />
    <View::SignUp::Prompt::PlanSelection
        @plans={{this.model}}
    />
</div>
