{{page-title "Sign Up - Set Password"}}
<div class="position">
    <View::SignUp::Breadcrumbs
        @breadcrumbs={{this.breadcrumbs}}
        @activeIndex={{0}}
    />
    <View::SignUp::Prompt::SetPassword
        @user={{this.model}}
    />
</div>
