<div class="home-care-tip">
    <p class="heading">{{@homeCareTip.label}}</p>
    <p class="description">{{@homeCareTip.description}}</p>
    {{#if @homeCareTip.showButton}}
        <button class="hn btn solid md primary" type="button">Handle It For Me</button>
    {{/if}}
</div>