<div class="home-care-tip">
    <p class="heading">{{@homeCareTip.label}}</p>
    <p class="description">{{@homeCareTip.description}}</p>
    {{#if @homeCareTip.showButton}}
        <Primitive::Button {{on "click" (fn this.openChatModal @homeCareTip.defaultHnChatMessage)}} @variant="solid" @size="md" @semantic="primary">        
            Handle It For Me
        </Primitive::Button>
    {{/if}}
</div>