<div class="hn pnp">
    <button type="button">
        <div class="overlay">
            <span class="block-text">My</span>
            <span class="block-text">Preventative</span>
            <span class="block-text">Maintenance</span>
            <span class="block-text">Plan</span>
            <span class="sig">View Plan</span>
        </div>

        <img src={{@thumbnailUri}} alt="preventative maintenance plan" />

    </button>   
</div>