<div class="content" {{did-insert this.throwConfetti}}>
    <div class="hero">
        <img src="/assets/images/andrew-neel-o93echtXf84-unsplash.jpg" class="view-hero crop filter-brighten" alt="welcome"/>
        <p>Let’s book your home walkthrough with your personal House Ninja (who will carefully evaluate inside and outside your home using our 88-point checklist).</p>        
    </div>
    <div class="prompt">
        <p class="primary">To setup your walkthrough we’ll just need to...</p>
        <ol>
            <li>Add your home address to your Home Profile</li>
            <li>Schedule your walkthrough</li>
        </ol>
    </div>
    <div class="action single">
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            {{on 'click' this.nextStep}}
        >
            Add my home address <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
        </Primitive::Button>
    </div>
</div>