<div class="content mb-4" {{did-insert this.throwConfetti}}>
    <div class="hero mb-16">
        <div class="welcome-hero">
            <h1>WELCOME!</h1>
            <p>Let’s book your home walkthrough with your personal House Ninja (who will carefully evaluate inside and outside your home using our 88-point checklist).</p>
        </div>
    </div>
    <div class="prompt">
        <p class="primary">To setup your walkthrough we’ll just need to...</p>
        <ol>
            <li>Add your home address to your Home Profile</li>
            <li>Schedule your walkthrough</li>
        </ol>
    </div>
    <div class="action single">
        <Primitive::Button
            @size='lg'
            @variant='solid'
            @semantic='primary'
            {{on 'click' this.nextStep}}
        >
            Add my home address <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
        </Primitive::Button>
    </div>
</div>