<div class="content" {{did-insert this.throwConfetti}}>
    <Primitive::Section>
        <div class="hero">
            <img src="/assets/images/iStock-1081952636.jpg" class="view-hero" alt="welcome"/>
            <p class="hn strong">Welcome to House Ninja</p>
        </div>
        <div class="prompt">
            <p class="hn emphasis mb-4">We're happy to have you!</p>
            <p>Let’s book your 60-minute home walkthrough with your personal House Ninja team. They will carefully evaluate the inside and outside of your home and create a plan for handling any work you want performed around your property.</p>
        </div>
        <div class="action single">
            <Primitive::Button
                @size='lg'
                @variant='solid'
                @semantic='primary'
                {{on 'click' this.nextStep}}
            >
                Step 1: Add my home address <img src="/assets/icons/right-arrow.svg" alt="right" class="icon"/>
            </Primitive::Button>
        </div>
    </Primitive::Section>
</div>