<div class="content landscape">
    <div class="hero mb-16">
        <p class="hn strong mb-4">Managing your home is a hassle.<br/>Let House Ninja handle it.</p>
        <ul>
            <li>Detailed home evaluation</li>
            <li>Dedicated team to manage your home</li>
            <li>Automated home maintenance</li>
            <li>24/7 availability for your home needs</li>
            <li>The best local vendors</li>
            <li>Digital home record</li>
        </ul>
    </div>
    <div class="action with-plans">
        <View::SignUp::Prompt::PlanSelection::PlanOptions
            @plans={{@plans}}
            @selectPlan={{this.selectPlan}}
        />
        <Primitive::Button
            @size='sm'
            @variant='outline'
            @semantic='primary'
            {{on 'click' this.goBack}}
        >
            Previous
        </Primitive::Button>
    </div>
</div>