<ul class="common-request-list">
    {{#each @commonRequests as |request|}}
        <li class="common-request">
            <Primitive::Button {{on 'click' (fn this.openChatWithPrompt request.defaultHnChatMessage)}} @variant="plain"> 
               <div class="image-mask">
                   <img src={{request.imgURI}} alt={{request.caption}}/>
               </div>
               <p class="caption">{{request.caption}}</p>
           </Primitive::Button>
        </li>
    {{/each}}
</ul>