<ul class="common-request-list">
    {{#each @commonRequests as |request|}}
        <li class="common-request">
            <Primitive::Button {{on 'click' (fn this.openChatWithPrompt request.defaultHnChatMessage)}} @variant="plain">                
                <Primitive::Image @src={{request.imgURI}} @alt={{request.caption}} @width="250" @height="130" />                
                <p class="caption">{{request.caption}}</p>
           </Primitive::Button>
        </li>
    {{/each}}
</ul>