/* Default */
.hn.btn {
  font-family: var(--campton-default);
  font-size: 17px;
  width: 100%;
  border-radius: 1px;
  padding: 0 16px;
  outline: none;
  white-space: nowrap;
}

/* Size */
.hn.btn.sm {
  height: var(--btn-sm);
}

.hn.btn.md {
  height: var(--btn-md);
}

.hn.btn.lg {
  height: var(--btn-lg);
}

.hn.btn.outline {
  background-color: var(--white);
  border-width: 2px;
  border-style: solid;

  /* border: 2px solid var(--transparent); */
}

.hn.btn.outline.sm {
  height: var(--btn-sm);
}

.hn.btn.outline.md {
  height: var(--btn-md);
}

.hn.btn.outline.lg {
  height: var(--btn-lg);
}

.hn.btn.floating {
  width: max-content;
  background: none;
  border: none;
  color: var(--blue-400);
}

.hn.btn.solid.primary {
  background: var(--grad-black-1000);
  box-shadow: var(--shadow-gray-1);
  color: var(--white);
}

.hn.btn.hn.btn.solid.primary .icon {
  filter: invert(93%) sepia(100%) saturate(28%) hue-rotate(54deg) brightness(106%) contrast(109%);
  height: 24px;
  margin-left: 16px;
  margin-bottom: 2px;
}

.hn.btn.outline.primary {
  border-color: var(--black);
  box-shadow: var(--shadow-gray-1);
}

.hn.btn.outline.accent {
  border-color: var(--teal-500);
  box-shadow: var(--shadow-teal-1);
  color: var(--teal-500);
}

.hn.btn.outline.secondary {
  border-color: var(--blue-400);

  /* box-shadow: var(--shadow-teal-1); */
  color: var(--blue-400);
}

.hn.btn.solid.accent {
  background: var(--grad-teal-500);
  box-shadow: var(--shadow-teal-1);
  color: var(--white);
}

.hn.btn.disabled {
  background: var(--gray-400) !important;
  box-shadow: none !important;
  filter: invert(32%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(95%) contrast(89%) !important;
  border: none !important;
}
