/* Default */
.hn.btn {
  font-family: var(--campton-default);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

/* Size */
.hn.btn.sm {
  height: var(--btn-sm);
}

.hn.btn.md {
  height: var(--btn-md);
}

.hn.btn.lg {
  height: var(--btn-lg);
}

.hn.btn.solid {
  width: 100%;
  border-radius: 1px;
}

.hn.btn.floating {
  background: none;
  border: none;
  color: var(--blue-400);
}

.hn.btn.solid.primary {
  background: var(--grad-black-1000);
  box-shadow: var(--shadow-gray-1);
  color: var(--white);
}

.hn.btn.solid.accent {
  background: var(--grad-teal-500);
  box-shadow: var(--shadow-teal-1);
  color: var(--white);
}

.hn.btn.solid.disabled {
  background: var(--gray-400) !important;
  box-shadow: none !important;
  color: var(--gray-600) !important;
}
