/* Default */
.hn.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1px;
  padding: 3px 16px 0;
  outline: none;
  white-space: nowrap;
  font-family: var(--campton-default);
  font-size: 17px;
}

.hn.btn.plain {
  border-radius: 0;
  padding: 0;
  outline: none;
  white-space: unset;
}

.hn.btn.plain.with-image {
  border-radius: 2px;
  border: 1px solid var(--gray-100);
}

/* Size */
.hn.btn.sm {
  height: var(--btn-sm);
}

.hn.btn.md {
  height: var(--btn-md);
}

.hn.btn.lg {
  height: var(--btn-lg);
}

.hn.btn.outline {
  background-color: var(--white);
  border-width: 1px;
  border-style: solid;
}

.hn.btn.floating {
  width: max-content;
  background: none;
  border: none;
  color: var(--teal-400);
}

.hn.btn.floating.white {
  color: var(--white);
}

.hn.btn.floating.black {
  color: var(--gray-950);
}

.hn.btn.solid.primary {
  background: var(--gray-950);
  box-shadow: var(--shadow-gray-1);
  color: var(--white);
}

.hn.btn.hn.btn.solid .icon,
.hn.btn.hn.btn.outline .icon {
  height: 24px;
  margin-left: 16px;
  margin-bottom: 2px;
}

.hn.btn.hn.btn.solid .icon {
  filter: brightness(0) invert(1);
}

.hn.btn.hn.btn.outline.primary .icon {
  filter: invert(19%) sepia(0%) saturate(4%) hue-rotate(233deg) brightness(89%) contrast(91%);
}

.hn.btn.hn.btn.outline.accent .icon {
  filter: invert(69%) sepia(47%) saturate(3993%) hue-rotate(133deg) brightness(89%) contrast(102%);
}

.hn.btn.hn.btn.outline.secondary .icon {
  filter: invert(39%) sepia(75%) saturate(1945%) hue-rotate(182deg) brightness(90%) contrast(104%);
}

.hn.btn.outline.primary {
  border-color: var(--gray-950);
  box-shadow: var(--shadow-gray-1);
}

.hn.btn.outline.accent {
  border-color: var(--teal-500);
  box-shadow: var(--shadow-teal-1);
  color: var(--teal-500);
}

.hn.btn.outline.secondary {
  border-color: var(--blue-400);
  box-shadow: var(--shadow-blue-1);
  color: var(--blue-400);
}

.hn.btn.outline.alert {
  border-color: var(--red-400);
  box-shadow: var(--shadow-red-1);
  color: var(--red-400);
}

.hn.btn.solid.accent {
  background: var(--grad-teal-500);
  box-shadow: var(--shadow-teal-1);
  color: var(--white);
}

.hn.btn.solid.secondary {
  background: var(--blue-400);
  box-shadow: var(--blue-teal-1);
  color: var(--white);
}

.hn.btn.solid.alert {
  background: var(--red-400);
  box-shadow: var(--shadow-red-1);
  color: var(--white);
}

.hn.btn.disabled {
  background: var(--gray-400) !important;
  box-shadow: none !important;
  border: none !important;
  color: var(--gray-200) !important;
}

.hn.btn.floating.disabled {
  background: none !important;
}

@media (hover: hover) {
  .hn.btn:not(.disabled) {
    cursor: pointer;
  }

  .hn.btn.disabled {
    cursor: not-allowed;
  }

  .hn.btn.solid:hover:not(.disabled) {
    opacity: 0.5;
  }

  .hn.btn.hn.btn.outline:hover:not(.disabled) {
    color: white;
  }

  .hn.btn.hn.btn.outline:hover:not(.disabled) .icon {
    filter: brightness(0) invert(1);
  }

  .hn.btn.hn.btn.outline.primary:hover:not(.disabled) {
    background-color: var(--gray-950);
  }

  .hn.btn.hn.btn.outline.accent:hover:not(.disabled) {
    background-color: var(--teal-500);
  }

  .hn.btn.hn.btn.outline.secondary:hover:not(.disabled) {
    background-color: var(--blue-400);
  }
}
