.hn-loader.global {
  width: 100%;
  height: 2px;
  background-color: var(--teal-600);
}

.hn-loader.top-bar {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hn-loader.global.hide {
  display: none;
}

.progress-bar {
  height: 4px;
  background-color: rgb(5 114 206 / 20%);
  width: 100%;
  overflow: hidden;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: var(--teal-400);
  animation: indeterminate-animation 1.25s infinite linear;
  transform-origin: 0% 40%;
}

@keyframes indeterminate-animation {
  0% {
    transform: translateX(0) scaleX(0);
  }

  40% {
    transform: translateX(0) scaleX(0.7);
  }

  100% {
    transform: translateX(100%) scaleX(0.3);
  }
}

.hn.logo-loader-full {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.hn.logo-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  text-align: center;
  white-space: nowrap;
}

.hn.splash-loader {
  background: url("/assets/splash/logo-placeholder.svg") center center no-repeat;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 200px auto;
}

.hn.splash-loader #logo-splash {
  width: 200px;
}
