.hn.modal {
  width: 100vw;
  height: 100vh;
  background: none;
  padding: 0;
  z-index: 100;

  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /*
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%); */
}

.hn.modal .overlay {
  background: rgb(255 255 255 / 25%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(4px);
}

.hn.modal .tray,
.hn.modal .shelf {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.hn.modal .modal-container {
  width: 100%;
  padding: 0;
}

.hn.modal .modal-container.tray {
  /* height: 88vh;   */

  /* border-radius: 40px 40px 0 0; */

  /* position: fixed; */

  /* bottom: 0; */
}

.hn.modal .modal-container.shelf,
.hn.modal .modal-container.tray {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hn.modal .modal-container.dark {
  background: var(--grad-black-1000);
}

.hn.modal .modal-container .head,
.hn.modal .modal-container .body,
.hn.modal .modal-container .footer {
  width: 100%;
}

.hn.modal .modal-container .head {
  height: 88px;
  padding: 0 16px;
}

.hn.modal .shelf .head .actions,
.hn.modal .tray .head .actions {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hn.modal .modal-container .body {
  height: 100%;
  overflow-y: scroll;
}

.hn.modal .modal-container .footer button {
  height: 64px;
}
