.hn.modal {
  width: 100vw;
  height: 100vh;
  background: none;
  padding: 0;
  z-index: 100;
  opacity: 1;
  transition: opacity 5s ease-out;
}

.hn.modal.hide {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.hn.modal .overlay {
  background: rgb(0 0 0 / 80%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;

  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(2px);
}

.hn.modal .tray,
.hn.modal .shelf {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.hn.modal .modal-container {
  width: 100%;
  padding: 0;
}

.hn.modal .modal-container.shelf,
.hn.modal .modal-container.tray {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hn.modal .modal-container.sheet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  padding: 16px 16px 32px;
  animation-name: slide-out;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

.hn.modal .modal-container.sheet.show {
  animation-name: slide-in;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100vh);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100vh);
  }

  100% {
    transform: translateY(0);
  }
}

.hn.modal .modal-container.sheet .hn-sheet-menu-option {
  width: 100%;
  border-bottom: 1px solid var(--gray-800);
  padding: 16px;
}

.hn.modal .modal-container.sheet .hn-sheet-menu-option button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.hn.modal .modal-container.dark {
  background: var(--gray-950);
}

.hn.modal .modal-container .head,
.hn.modal .modal-container .body,
.hn.modal .modal-container .footer {
  width: 100%;
}

.hn.modal .modal-container.tray .head,
.hn.modal .modal-container.shelf .head {
  height: 88px;
  padding: 0 16px;
}

.hn.modal .shelf .head .actions,
.hn.modal .tray .head .actions {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hn.modal .shelf .head .actions button.floating,
.hn.modal .tray .head .actions button.floating {
  padding: 0;
}

.hn.modal .modal-container .body {
  height: 100%;
  overflow-y: scroll;
}

.hn.modal .modal-container .body.lock-body-scroll {
  overflow: hidden;
}

.hn.modal .modal-container .footer button.btn {
  height: 64px;
  border-radius: 0;
}

.hn.modal .modal-container.dialog {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
}

.hn.modal .modal-container.dialog .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  height: max-content;
  border-radius: 2px;
  padding: 32px 16px;
  z-index: 101;

  /* animation-name: slide-out;
  animation-timing-function: ease-out;
  animation-duration: 0.25s; */
}

.hn.modal .modal-container.dialog img {
  width: 40px;
}
