.filled ul.record-list li .record {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid var(--gray-100);
  padding: 8px 4px;
}

.filled ul.record-list li .record .timestamp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
  font-size: 15px;
  color: var(--gray-600);
}

.filled ul.record-list li .record .icon {
  flex-shrink: 0;
  margin-right: 16px;
}

.filled ul.record-list li .record .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.filled ul.record-list li .record .name {
  margin-bottom: 0;
  font-size: 17px;
  font-family: var(--campton-strong);
  color: var(--gray-900);
  text-align: left;
  white-space: normal;
}

.filled ul.record-list li .record .hn.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.filled ul.record-list li .record .hn.row .description {
  font-size: 15px;
  margin-right: 8px;
  color: var(--gray-600);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filled ul.record-list li .record .hn.row .hn.tag {
  margin-left: auto;
}

.empty p {
  text-align: center;
  padding: 16px 0;
}
