<div class='hn service-activity'>
  <Primitive::TabbedContent @tabbedContentTabs={{@tabs}}>
    <HouseNinja::ServiceActivityRecords::ServiceActivityList
      @records={{@workOrders}}
      @onRecordClick={{this.selectRoute}}
    />
  </Primitive::TabbedContent>
</div>