/* Base Styles */
.hn.hn-input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.hn.hn-input-field,
.hn.hn-input-field .hn-input-container {
  border-radius: 2px 2px 0 0;
}

.hn.hn-input-field .hn-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 52px;
  margin-bottom: 8px;
  border-bottom: 1px solid var(--gray-400);
  padding: 0;
  font-size: 16px;
}

/* Label */
.hn.hn-input-field .hn-input-container .hn-input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  width: 192px;
  font-size: 16px;
}

.hn.hn-input-field.active .hn-input-container .hn-input-label {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 2px;
}

.hn.hn-input-field .hn-input-container .hn.hn-select,
.hn.hn-input-field .hn-input-container .hn-input {
  width: 100%;
  height: 100%;
  border-radius: 0;
  outline: none;
}

/* Input */
.hn.hn-input-field .hn-input-container .hn-input {
  padding: 16px 12px;
}

.hn.hn-input-field.active .hn-input-container .hn-input {
  padding: 16px 8px;
}

.hn.hn-input-field.label-hidden .hn-input-container .hn-input {
  text-align: center;
}

/* Select */
.hn.hn-input-field .hn-input-container .hn-select {
  padding: 0 12px;
  appearance: none;
}

/* Description */
.hn.hn-input-field .hn-input-description {
  margin-left: 8px;
  font-size: 14px;
}

.hn.hn-input-field.label-hidden .hn-input-description {
  text-align: center;
}
