.hn.document-vault {
  width: 100%;
}

.hn.document-vault .actions,
.hn.document-vault-group .actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}

.hn.document-vault .actions .hn.btn:nth-of-type(1) {
  margin-right: 4px;
}

.hn.document-vault .actions .hn.btn:nth-of-type(2) {
  margin-left: 4px;
}

.hn.document-vault .filled ul.record-list li .record {
  flex-direction: row;
  align-items: center;
}

.hn.document-vault.document.upsert,
.hn.document-vault.group.upsert {
  padding: 16px;
}

.hn.document-vault.document .document-details {
  background-color: var(--white);
  margin-bottom: 16px;
  border-radius: 2px;
}

.hn.document-vault.document .document-container .image-container {
  width: 100%;
}

.hn.document-vault.document .document-container img {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray-100);
  border-radius: 2px;
}

.hn.document-vault.document.upsert .upsert-fields,
.hn.document-vault.document.upsert .action {
  margin-bottom: 16px;
}

.hn.document-vault.document.upsert .thumbnail {
  background-color: var(--white);
  border: 1px solid var(--gray-600);
  border-radius: 2px;
}
