<div class="sign-up-module">
    <TopBar @userSignUpFlow={{true}} />
    <View @hideLogo={{true}}>
        <div class="hero">
            <img src="assets/images/wordmark+vertical+black+teal.svg" class="view-logo" alt="house ninja"/>
            <p>To get started, enter the zip code of the home property you’d like us to maintain.</p>
        </div>        
    </View>
</div>
