<div class="hn modal">
    {{!-- <div class="overlay" /> --}}
    <div class="modal-container shelf dark">
        <div class="head">
            <div class="actions">
                <Primitive::Button {{on "click" this.goBack}} @size="sm" @variant="floating">
                    Back
                </Primitive::Button>
            </div>
        </div>
        <div class="body">
          {{yield}}
        </div>
        <div class="footer"></div>
    </div>
</div>