<div class="hn modal">
    {{!-- <div class="overlay" /> --}}
    <div class="modal-container shelf dark">
        <div class="head">
            <div class="actions">
                <button type="button" class="hn btn sm floating" {{on "click" this.goBack}}>
                    Back
                </button>
            </div>
        </div>
        <div class="body">
          {{yield}}
        </div>
        <div class="footer"></div>
    </div>
</div>