<div class="hn handle-it">
    <Primitive::Section @label="Service Requests" @allowCollapse={{true}}>
        <HouseNinja::ServiceActivityRecords @tabs={{this.tabs}} @workOrders={{this.displayedWorkOrders}} />
    </Primitive::Section>
    <HouseNinja::PreventativeMaintenanceThumbnail @thumbnailUri="/assets/images/pmp-thumb.jpg"/>    
</div>
