<div class="hn modal">
    {{#if @disableClose}}      
      <div class="hn overlay" />
    {{else}}
      <Primitive::Button @variant="plain" {{on "click" this.toggleModal}}>
          <div class="hn overlay" />
      </Primitive::Button>
    {{/if}}
    <div class="hn modal-container dialog light {{if @isVisible 'show'}}">            
        <div class="body">
          {{yield}}
        </div>        
    </div>
</div>