{{page-title "House Ninja"}}

<div class="container background-container h-screen">
  <TopBar></TopBar>
  <LinkTo @route="login">Login</LinkTo>
  <LinkTo @route="logout">Logout</LinkTo>
  {{outlet}}
</div>