{{page-title "House Ninja"}}
<fragment>
  <div class="application">
    {{#if this.showLoader}}
      <Primitive::Loader::Splash @toggle={{this.toggleLoading}}/>
    {{else}}  
      <LiquidOutlet/>  
    {{/if}}
  </div>
</fragment>