{{page-title "House Ninja"}}
<fragment {{did-insert this.toggleLoading}} >
  {{#if this.showLoader}}
    <Primitive::Loader::Splash />
  {{else}}
  <div class="application">
    <LiquidOutlet/>
  </div>
  {{/if}}
</fragment>