{{page-title "House Ninja"}}
<fragment>
  {{#if this.showLoader}}
    <Primitive::Loader::Splash @toggle={{this.toggleLoading}}/>
  {{else}}
  <div class="application">
    <LiquidOutlet/>
  </div>
  {{/if}}
</fragment>