{{page-title "House Ninja"}}

<div class="application">
  {{outlet}}

  {{!-- <Modal::Shelf>
    <AccountSettings/>
  </Modal::Shelf>

  <Modal::Tray>
    <AccountSettings::Contact/>
    <AccountSettings::Payment/>
    <AccountSettings::Security/>
    <AccountSettings::Property/>
  </Modal::Tray> --}}

</div>