<TopBar />
    <div class="hn loading-container">    
        <img class="logo" src="/assets/images/logo+black+teal.svg" alt="House Ninja" />
        <div class="logo-container">
        </div>
    </div>
<NavBar />