{{page-title "Home"}}
<TopBar />
<div style="position:absolute;top:200px;">
  <h1>{{this.model.property.line1}}</h1>
  <LinkTo @route="login">Login</LinkTo>
  <LinkTo @route="logout">Logout</LinkTo>
</div>
{{outlet}}
<NavBar />