{{page-title "404 Not Found"}}

<TopBar @content="logo-only" @class="browser-version" @linkToRoot={{true}} />
<View @class="hn work-order public" @topBar={{true}}>
    <div class="position">
        <div class="constraint">
            <strong>404</strong>
            <p>The page you are looking for could not be found.</p>
        </div>
    </div>
</View>
