{{page-title "404 Not Found"}}

<TopBar @content="logo-only" @class="browser-version" @linkToMarketingSite={{true}} />
<View @class="hn work-order public" @topBar={{true}} @hideLogo={{true}}>
    <div class="position">
        <div class="constraint">
            <div class="not-found">
                <p class="hn strong center text-7xl teal-600">404</p>
                <h1 class="hn center text-2xl">The page you are looking for could not be found</h1>
            </div>
        </div>    
    </div>
</View>
