name: cd / release

concurrency: app-release-lock

on:
  release:
    types:
      - published
  push:
    branches:
      - buildcache

env:
  RUBY_VERSION: 3.0.3
  DATADOG_API_KEY: ${{ secrets.DATADOG_API_KEY }}
  CACHE_KEY_YARN: build-yarn-${{ github.run_id }}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    timeout-minutes: 20
    permissions:
      contents: read
      deployments: write
    steps:
      - name: Datadog
        uses: masci/datadog@v1
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          logs: |
            - ddsource: "github"
              ddtags: "env:production,service:github-actions,source:github,ci.step:release,ci.service:app,status:info"
              message: "{\"message\":\"[ci/cd] app - starting build\", \"level\":\"info\", \"ci.branch\":\"main\", \"ci.service\":\"app\", \"ci.step\":\"release\"}"
              service: "github-actions"
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'
      - run: yarn install --immutable
      - run: yarn env:load
        env:
          DOTENV_IT_TOKEN: ${{ secrets.DOTENV_IT_TOKEN }}
      - run: yarn build
        env:
          NODE_ENV: production
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
      - run: yarn cap sync --deployment
        env:
          NODE_ENV: production
      - run: |
          cp .env.vault ios/App/.env.vault
          cp .env.vault android/app/.env.vault
          cp .env.vault fastlane/.env.vault
      - uses: actions/cache/save@v3
        if: success()
        id: cache-package-json
        with:
          enableCrossOsArchive: true
          path: |
            package.json
            yarn.lock
            .yarnrc.yml
            .yarn/
            node_modules/
          key: build-yarn-${{ github.run_id }}
      - uses: actions/cache/save@v3
        if: success()
        id: cache-web
        with:
          path: dist/
          key: build-web-${{ github.run_id }}
      - uses: actions/cache/save@v3
        if: success()
        id: cache-ios
        with:
          path: ios/
          key: build-ios-${{ github.run_id }}
      - uses: actions/cache/save@v3
        if: success()
        id: cache-android
        with:
          path: android/
          key: build-android-${{ github.run_id }}
      - uses: actions/cache/save@v3
        if: success()
        id: cache-fastlane
        with:
          path: fastlane/
          key: build-fastlane-${{ github.run_id }}
      - name: Datadog
        uses: masci/datadog@v1
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          logs: |
            - ddsource: "github"
              ddtags: "env:production,service:github-actions,source:github,ci.step:release,ci.service:app,status:info"
              message: "{\"message\":\"[ci/cd] app - finished web build\", \"level\":\"info\", \"ci.branch\":\"main\", \"ci.service\":\"app\", \"ci.step\":\"release\"}"
              service: "github-actions"

  web:
    needs: build
    if: success()
    name: release / web
    uses: ./.github/workflows/cd.release.web.yml
    with:
      secrets: inherit

  ios:
    needs: build
    if: success()
    name: build / ios
    uses: ./.github/workflows/cd.release.ios.yml
    with:
      secrets: inherit

  android:
    needs: build
    if: success()
    name: build / android
    uses: ./.github/workflows/cd.release.android.yml
    with:
      secrets: inherit

  reporter:
    needs: [web, ios, android]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Datadog
        if: success()
        uses: masci/datadog@v1
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          events: |
            - title: "[ci/cd] app - Release Build Success - ${{ steps.package-version.outputs.current-version }}+1"
              text: "Release build succeeded for version ${{ steps.package-version.outputs.current-version }}+1\n https://github.com/houseninjadojo/app/actions/runs/${{ github.run_id }}"
              alert_type: "success"
              source_type_name: github
              tags:
                - "service:github-actions"
                - "source:github"
                - "ci.step:release"
                - "ci.service:app"
                - "status:failure"
                - "env:production"
      - name: Datadog
        if: failure()
        uses: masci/datadog@v1
        with:
          api-key: ${{ secrets.DATADOG_API_KEY }}
          events: |
            - title: "[ci/cd] app - Release Build Failure: `${{ github.job }}` - ${{ steps.package-version.outputs.current-version }}+1"
              text: "Release build failed for version ${{ steps.package-version.outputs.current-version }}+1\n https://github.com/houseninjadojo/app/actions/runs/${{ github.run_id }}"
              alert_type: "error"
              source_type_name: github
              tags:
                - "service:github-actions"
                - "source:github"
                - "ci.step:release"
                - "ci.service:app"
                - "status:failure"
                - "env:production"

  cleanup:
    needs: [ios, android]
    if: always()
    runs-on: ubuntu-latest
    name: cleanup
    steps:
      - uses: geekyeggo/delete-artifact@v2
        name: clean artifacts
        with:
          name: |
            node_modules.tar.gz
            android.tar.gz
