<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.personal-information.photos-library</key>
	<true/>
	<key>com.apple.developer.usernotifications.communication</key>
	<true/>
	<key>com.apple.security.device.camera</key>
	<true/>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:houseninja.co</string>
		<string>applinks:houseninja.co</string>
		<string>applinks:app.houseninja.co</string>
		<string>applinks:application.houseninja.co</string>
		<string>applinks:houseninja.app.link</string>
		<string>applinks:houseninja-alternate.app.link</string>
		<string>applinks:hnja.app</string>
		<string>applinks:w.hnja.app</string>
		<string>applinks:hnja.io</string>
		<string>applinks:w.hnja.io</string>
		<string>applinks:houseninja-alternate.test-app.link</string>
		<string>applinks:houseninja.test.app.link</string>
		<string>applinks:url3237.hnja.io</string>
	</array>
</dict>
</plist>
