<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803774737135-mk7ju7haola2vu1orr3r81nfcf0sjufh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803774737135-mk7ju7haola2vu1orr3r81nfcf0sjufh</string>
	<key>API_KEY</key>
	<string>AIzaSyCkSmBQVtf6g58KvZsKbOKLjMbm2okEYm4</string>
	<key>GCM_SENDER_ID</key>
	<string>803774737135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.houseninja.application</string>
	<key>PROJECT_ID</key>
	<string>houseninja-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>houseninja-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803774737135:ios:813f89f21124713c24c91a</string>
</dict>
</plist>